USER_API_KEY_ENCRYPTION_KEY=
FIREBASE_PROJECT_ID=sapient-spark-z83d0
FIRESTORE_DATABASE_ID=ai-studio-youtubeyamlsearc-83e4e646-42fd-44b9-a9a0-7af77ee13b93
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
PORT=3000
