rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /integrations/{integrationId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /querySets/{querySetId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /searchRuns/{runId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;

        match /queryResults/{queryResultId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;

          match /videos/{videoId} {
            allow read, write: if request.auth != null && request.auth.uid == userId;
          }
        }
      }

      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
